
<form action="/books" method="POST">

    <title>Name of book</title>
    <input type="text" name="name" value="<%=  %> ">
    <title>Type</title>
    <input type="text" name="type" value="<%=  %> ">
    <button type="submit">Submit</button>
    


</form>